<p>bucket-details works!</p>
bucketId = {{bucketId}}
<div *ngFor="let bucket of bucketListId; let col = index">
bucketName = {{bucketName}}
</div>
<table>
    <div *ngFor="let bucket of bucketListId; let col = index">
        <tr >         
            <div *ngIf="col<=bucketListId.length-1">
            <div style="margin:20px">
              <div style="background-color:{{bucketListId[col].Color}}; height:130px; width:205px;" >  
                <a href="/bucketDetails?id={{bucketListId[col].Id}}" target="_self">
                  <h1 align="center">{{bucketListId[col].Name}}</h1>
                </a>
                <h3 align="center">To do: {{taskCount}}</h3>
                <div *ngIf="bucket.Id" align="right" >
                  <button style="background-color:{{bucketListId[col].Color}}; height:30px; width:30px; border:not();" (click)="openModalYN('bucket-modal-yesNo-details',bucketId)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            </div>
        </tr>
        </div>

</table>


<jw-modal id="bucket-modal-yesNo-details">
  <h1 style="height:350px">Are you sure to delete bucket {{bucketName}} with all tasks?</h1>
  <button (click)="delBucket(bucketId);">Yes</button>
  <button (click)="closeModal('bucket-modal-yesNo-details');">No</button>
</jw-modal>